<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
<wb-module deploy-name="swf-booking-portlet-faces">
<wb-resource deploy-path="/" source-path="/target/war-expanded"/>
<wb-resource deploy-path="/WEB-INF/lib" source-path="/pluto-runtime-libs"/>
<property name="java-output-path" value="target/classes"/>
<property name="context-root" value="/swf-booking-portlet-faces"/>
</wb-module>
</project-modules>
